<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New File", new_filer_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th colspan="2" >Action</th>   
    </tr>
  </thead>
  <tbody>
    <% @filers.each do |filer| %>
      <tr>
        <td><%= filer.name %></td>
        <td><%= link_to "Download File", filer.attachment_url %></td>
        <td><%= button_to "Show",  filer, method: :get, class: "btn btn-danger", confirm: "Are you sure that you wish to show the Stacked Word Trees! of #{filer.name}?" %></td>        
        <td><%= button_to "Delete",  filer, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{filer.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br />