<h1>Stacked Word Trees</h1>

<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Stacked Word Trees for :id <%= "#{params[:id]}" %></th>
    </tr>
  </thead>
  <tbody>
  <% if !@stackedWordTree.nil? %>   
    <% @stackedWordTree.each do |content| %>
      <tr>
        <td><%= content %></td>
      </tr>
    <% end %>
  <% else %> 
      <tr>
        <td>Stacked Word Trees is empty...</td>
      </tr>      
   <% end %>
  </tbody>
</table>